//ПРОЕКТНЫЕ
$green: #92C020
$white: #FCFCFC
$grey: #D4D4D4
$light-grey: #F9F9F9
$dark-grey: #464646
$light-grey-2: #F1F1F1
$grey-2: #B1B1B1

.footer
  padding: 70px 0 100px
  background-color: $dark-grey
  @media screen and (max-width: 767px)
    padding-bottom: 30px


  &__description
    display: grid
    grid-template-columns: 650px 500px
    grid-gap: 20px
    align-items: center
    margin-bottom: 60px
    @media screen and (max-width: 1439px)
      grid-template-columns: 650fr 500fr
    @media screen and (max-width: 767px)
      grid-template-columns: 1fr
      margin-bottom: 40px


  &__title
    color: $white
    letter-spacing: 3px
    opacity: 0.3
    @extend %400 !optional
    flex-shrink: 0
    font-size: 24px
    margin-bottom: 0
    align-items: center
    @media screen and (max-width: 1439px)
      font-size: 20px
    @media screen and (max-width: 767px)
      font-size: 16px
      line-height: 1.4


  &__button .btn
    color: white

  &__main
    display: grid
    grid-template-columns: 55px auto 500px
    grid-gap: 70px
    position: relative
    @media screen and (max-width: 1279px)
      grid-gap: 30px
    @media screen and (max-width: 1023px)
      grid-gap: 40px
      grid-template-columns: 1fr

  &__social
    display: flex
    flex-direction: column
    gap: 20px



    @media screen and (max-width: 1023px)
      position: absolute
      right: 0
      bottom: 0
    @media screen and (max-width: 767px)
      bottom: 110px


  &__social-item
    width: 55px
    height: 55px
    display: flex
    align-items: center
    justify-content: center
    border-radius: 10px
    border: 1px solid #5A5959
    @extend %transition !optional
    svg path
      fill: $grey
    &:hover
      border: 1px solid $green
      svg path
        fill: $green

  &__menu

  &__menu-list
    display: grid
    grid-template-columns: repeat(2, 1fr)
    max-width: 330px
    grid-gap: 45px 15px
    @media screen and (max-width: 1023px)
      max-width: 100%
      grid-template-columns: repeat(3, 1fr)
      grid-gap: 15px
    @media screen and (max-width: 767px)
      grid-template-columns: repeat(2, 1fr)

  &__menu-item
    color: white
    font-size: 16px
    text-transform: uppercase
    @media screen and (max-width: 767px)
      font-size: 14px


  &__contacts
    @media screen and (max-width: 1023px)
      padding-right: 90px

  &__contacts-list
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 50px
    margin-bottom: 50px
    @media screen and (max-width: 1023px)
      grid-gap: 20px
    @media screen and (max-width: 767px)
      grid-template-columns: 1fr
      grid-gap: 40px

  &__contacts-item
    color: white
    line-height: 1.8

    span
      @extend %inter !optional
      line-height: 1.4
      margin-bottom: 10px
      display: block

      &:last-child
        margin-bottom: 0

  &__contacts-title
    color: white
    opacity: 0.3

  &__copyright
    color: white
    opacity: 0.3
    @extend %inter !optional
    @extend %400 !optional
    line-height: 1.4

    span
      display: block

.up-btn
  position: fixed
  right: 70px
  bottom: 70px
  width: 53px
  height: 53px
  background-color: $green
  border-radius: 10px
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='26' viewBox='0 0 15 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 24.25C6.5 24.8023 6.94772 25.25 7.5 25.25C8.05228 25.25 8.5 24.8023 8.5 24.25H6.5ZM8.20711 1.04289C7.81658 0.652369 7.18342 0.652369 6.79289 1.04289L0.428932 7.40685C0.0384078 7.79738 0.0384078 8.43054 0.428932 8.82107C0.819457 9.21159 1.45262 9.21159 1.84315 8.82107L7.5 3.16421L13.1569 8.82107C13.5474 9.21159 14.1805 9.21159 14.5711 8.82107C14.9616 8.43054 14.9616 7.79738 14.5711 7.40685L8.20711 1.04289ZM8.5 24.25V1.75H6.5V24.25H8.5Z' fill='white'/%3E%3C/svg%3E%0A")
  background-repeat: no-repeat
  background-position: center
  transition: none
  display: none
  opacity: 0
  pointer-events: none
  @media screen and (max-width: 767px)
    right: 20px
    opacity: 1
    pointer-events: initial







