{% set page = { title: 'О нас | Верба Капитал' } %}
{% extends "./2.parts/main.njk" %}
{% block content %}

    {% set  _ = 'back' %}
    <div href="#" class="{{ _ }}">
        <div class="inner-container">
            <a href="#" class="{{ _ }}__ancor">
                <svg width="25" height="13" viewBox="0 0 25 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 6.5L1 6.5M1 6.5L6.88235 12.5M1 6.5L6.88235 0.499999" stroke="#D4D4D4"
                          stroke-linecap="round"/>
                </svg>
                Назад
            </a>
        </div>
    </div>

    {% set  _ = 'about-us-director' %}
    <div class="{{ _ }}">
        <div class="inner-container">
            <div class="{{ _ }}__wrap">
                <div class="{{ _ }}__main">
                    <div class="{{ _ }}__photo img">
                        <img src="images/{{ _ }}/1.webp" alt=""/>

                    </div>
                    <div class="{{ _ }}__plate">
                        <strong>
                            ВАДИМ ИЛЬЧЕНКО
                        </strong>
                        <span>
Основатель ГК «ВербаКапитал»
                        </span>

                    </div>


                </div>
                <div class="{{ _ }}__content">
                    <h1 class="h2 animation-element">
                        о нас
                    </h1>
                    <div class="{{_}}__text animation-element">
                        <p>
                            В мире, где искусственный разум конкурирует с человеческим; где потребности людей стали выше,
                            а мышление — шире, должно быть место для преображающих мир экспериментов.
                        </p>
                        <p>
                            «ВербаКапитал» — девелоперская лаборатория. Исследуя рынок, тестируя технологии, накапливая опыт
                            и экспертизу, мы изобретаем продукты, которые выходят за рамки и отвечают вызовам времени.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% set  _ = 'about-us-lab' %}
    <div class="{{ _ }}">
        <div class="inner-container">
            <div class="{{ _ }}__wrap">
                <h2 class="h2 animation-element">
                    ДЕВЕЛОПЕРСКАЯ ЛАБОРАТОРИЯ
                </h2>
                <div class="{{ _ }}__preview">
                    <div class="{{ _ }}__title">
                        <h3 class="h3">
                            Движем <br>
                            недвижимость

                        </h3>

                    </div>
                    <div class="{{ _ }}__content">
                        <p>
                            «ВербаКапитал» — девелопмент, который трансформирует город, реализуя проекты завтрашнего
                            дня. По аналогии с вербой, мы одними из первых чувствуем «весну»
                            на рынке, предвидим и создаём тренды. А капитал используем как инструмент
                            для материализации больших идей, катализатор роста компании и наших партнёров.
                        </p>
                        <div class="{{ _ }}__plate animation-element">
                            <strong class="h2">
                                c 2014 года
                            </strong>
                            <span>
развиваем
отрасль
                            </span>

                        </div>

                    </div>

                </div>
                <div class="{{ _ }}__mission">
                    <div class="{{ _ }}__title">
                        <h3 class="h3">
                            Миссия
                        </h3>

                    </div>
                    <div class="{{ _ }}__content">
                        <p>
                            Находить решения в девелопменте, которые станут импульсом преобразований города и человека.
                            Создавать среду для того, чтобы жить счастливо и продуктивно, быть лучшей версией себя и
                            обладать видением собственного будущего.
                        </p>
                        <div class="{{ _ }}__list">
                            {% set  list = [{
                                title: 'ПРОГРЕССИВНОСТЬ',
                                subtitle: 'Анализ трендов, проверка гипотез, применение новейших технологий — всё это позволяет нам постоянно совершенствовать продукт и компетенции.'

                            },    {
                                title: 'стиль',
                                subtitle: 'Разрабатывая проекты, мы концентрируемся на внешней и внутренней эстетике сооружений. Это дома с узнаваемой архитектурой и эргономичными пространствами.'
                            },   {
                                title: 'ТОЧНОСТЬ',
                                subtitle: 'Продукты компании выпускаются не чаще 1-2 раз в год — все новинки глубоко прорабатываются профильными экспертами и лично топ-менеджментом компании. '
                            },   {
                                title: 'РЕЗУЛЬТАТИВНОСТЬ',
                                subtitle: 'Мы строим недвижимость, которая наращивает спрос и инвестиционный капитал, находит живой отклик у общества. '
                            },   {
                                title: 'ОТВЕТСТВЕННОСТЬ',
                                subtitle: 'Наши кварталы с комплексным благоустройством органично интегрируются в город, сохраняя исторические признаки его развития.'
                            }] %}

                            {% for item in list %}
                                <div class="{{ _ }}__item animation-element" style="animation-delay: {{ loop.index * 0.2 }}s">
                                    <a href="#" class="{{ _ }}__item-title"><h3 class="h3">{{ item.title }}</h3></a>
                                    <div class="{{ _ }}__item-content">
                                        <p>{{ item.subtitle }}</p>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% set  _ = 'about-us-team' %}
    <div class="{{ _ }}">
        <div class="inner-container">
            <div class="{{ _ }}__wrap">
                <h2 class="h2 animation-element">
                    Команда
                </h2>


                {% set  list = [{
                    title: 'Аверина Юлия Анатольевна',
                    subtitle: 'главный бухгалтер
'

                },    {
                    title: 'Аверкина Екатерина Сергеевна',
                    subtitle: 'начальник отдела по работе с клиентами'
                },   {
                    title: 'Лукашевич Александр Викторович',
                    subtitle: 'технический директор'
                },   {
                    title: 'Ильченко Вадим Николаевич',
                    subtitle: 'директор и учредитель компании'
                },   {
                    title: 'Кусков Дмитрий Олегович',
                    subtitle: 'главный инженер'
                }] %}


                <div class="{{ _ }}__list animation-element">
                    {% for item in list %}
                        <div class="{{ _ }}__item img" style="animation-delay: {{ loop.index * 0.1 }}s">
                            <img src="images/{{ _ }}/{{ loop.index }}.webp" alt=""/>
                            <div class="{{ _ }}__info">
                                <strong>{{ item.title }}</strong>
                                <span>{{ item.subtitle }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    {% for item in list %}
                        <div class="{{ _ }}__item img" style="animation-delay: {{ loop.index * 0.1 + 0.5 }}s">
                            <img src="images/{{ _ }}/{{ loop.index }}.webp" alt=""/>
                            <div class="{{ _ }}__info">
                                <strong>{{ item.title }}</strong>
                                <span>{{ item.subtitle }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    {% for item in list %}
                        <div class="{{ _ }}__item img" style="animation-delay: {{ loop.index * 0.1 + 1}}s">
                            <img src="images/{{ _ }}/{{ loop.index }}.webp" alt=""/>
                            <div class="{{ _ }}__info">
                                <strong>{{ item.title }}</strong>
                                <span>{{ item.subtitle }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    {% for item in list %}
                        <div class="{{ _ }}__item img" style="animation-delay: {{ loop.index * 0.1 + 1.5}}s">
                            <img src="images/{{ _ }}/{{ loop.index }}.webp" alt=""/>
                            <div class="{{ _ }}__info">
                                <strong>{{ item.title }}</strong>
                                <span>{{ item.subtitle }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    {% for item in list %}
                        <div class="{{ _ }}__item img" style="animation-delay: {{ loop.index * 0.1 + 2}}s">
                            <img src="images/{{ _ }}/{{ loop.index }}.webp" alt=""/>
                            <div class="{{ _ }}__info">
                                <strong>{{ item.title }}</strong>
                                <span>{{ item.subtitle }}</span>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>


{% endblock content %}