{% set page = { title: 'Сервис | Верба Капитал' } %}
{% extends "./2.parts/main.njk" %}
{% block content %}
    {% set  _ = 'back' %}
    <div href="#" class="{{ _ }}">
        <div class="inner-container">
            <a href="#" class="{{ _ }}__ancor">
                <svg width="25" height="13" viewBox="0 0 25 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 6.5L1 6.5M1 6.5L6.88235 12.5M1 6.5L6.88235 0.499999" stroke="#D4D4D4"
                          stroke-linecap="round"/>
                </svg>
                Назад
            </a>
        </div>
    </div>


    {% set  _ = 'news' %}
    <div class="{{ _ }}">
        <div class="inner-container">
            <div class="{{ _ }}__wrap">
                <h1 class="h2 animation-element">
                    новости
                </h1>

                <div class="{{ _ }}__list">
                        {% for i in range(1, 2) %}
                            {% for i in range(1, 2) %}
                                <div class="{{ _ }}__item animation-element">
                                    <div class="{{ _ }}__title">
                                        <h3 class="h3">
                                            ВИЗИТ ГУБЕРНАТОРА НА ИНСКИЕ ХОЛМЫ
                                        </h3>
                                    </div>
                                    <div class="{{ _ }}__content">
                                        <div class="{{ _ }}__data">
                                            12.12.2024
                                        </div>
                                        <div class="{{ _ }}__text">
                                            <p>
                                                Строительством и содержанием сити-квартала заинтересовался губернатор Новосибирской
                                                области Андрей Александрович Травников. В составе делегации были также вице-губернатор
                                                Новосибирской области Роман Александрович Теленчинов, министр строительства
                                                Новосибирской области Алексей Викторович Колмаков Строительством и содержанием
                                                сити-квартала заинтересовался губернатор Новосибирской области Андрей Александрович
                                                Травников. В составе делегации были также вице-губернатор Новосибирской области Роман
                                                Александрович Теленчинов, министр строительства Новосибирской области Алексей Викторович
                                                Колмаков ... Строительством и содержанием сити-квартала заинтересовался губернатор
                                                Новосибирской области Андрей Александрович Травников. В составе делегации были также
                                                вице-губернатор Новосибирской области Роман Александрович Теленчинов, министр
                                                строительства Новосибирской области Алексей Викторович Колмаков ... Строительством и
                                                содержанием сити-квартала заинтересовался губернатор Новосибирской области Андрей
                                                Александрович Травников. В составе делегации были также вице-губернатор Новосибирской
                                                области Роман Александрович Теленчинов, министр строительства Новосибирской области
                                                Алексей Викторович Колмаков ... Строительством и содержанием сити-квартала
                                                заинтересовался губернатор Новосибирской области Андрей Александрович Травников. В
                                                составе делегации были также вице-губернатор Новосибирской области Роман Александрович
                                                Теленчинов, министр строительства Новосибирской области Алексей Викторович Колмаков
                                                ...Строительством и содержанием сити-квартала заинтересовался губернатор Новосибирской
                                                области Андрей Александрович Травников. В составе делегации были также вице-губернатор
                                                Новосибирской области Роман Александрович Теленчинов, министр строительства
                                                Новосибирской области Алексей Викторович Колмаков ...
                                            </p>

                                        </div>
                                        <a href="#" class="{{ _ }}__button btn">
                                            подробнее
                                        </a>

                                    </div>
                                    <div class="{{ _ }}__img img">
                                        <img src="images/{{ _ }}/{{ loop.index }}.webp" alt=""/>
                                    </div>

                                </div>
                            {% endfor %}

                        {% endfor %}


                </div>

                <a href="#" class="{{_}}__more btn">
                    Ещё новости
                </a>

                <div class="{{_}}__pagination">
                    {% set  list = [
                        '1',
                        '2',
                        '3',
                        '4',
                        '...',
                        '20',
                        'Вперёд'
                    ]
                    %}

                    {% for item in list %}
                        <a href="#">{{ item }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock content %}