{% set page = { title: 'Сервис | Верба Капитал' } %}
{% extends "./2.parts/main.njk" %}
{% block content %}
    {% set  _ = 'back' %}
    <div href="#" class="{{ _ }}">
        <div class="inner-container">
            <a href="#" class="{{ _ }}__ancor">
                <svg width="25" height="13" viewBox="0 0 25 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 6.5L1 6.5M1 6.5L6.88235 12.5M1 6.5L6.88235 0.499999" stroke="#D4D4D4"
                          stroke-linecap="round"/>
                </svg>
                Назад
            </a>
        </div>
    </div>

    {% set  _ = 'service-head' %}
    <div class="{{ _ }}">
        <div class="inner-container">
            <div class="{{ _ }}__wrap">
                <div class="{{ _ }}__img img animation-element">
                    <img src="images/{{ _ }}/1.webp" alt=""/>
                </div>
                <div class="{{ _ }}__content">
                    <h1 class="h2 animation-element">Сервис</h1>
                    <p class="animation-element">Будущее построенных объектов зависит от качества их управления.
                        Поддерживая первичный вид и функционал недвижимости, мы влияем на её рыночную стоимость,
                        пользовательский опыт и впечатление. Этим занимается наша собственная управляющая компания —
                        ООО УК «ВКД-Сервис». </p>
                    <p class="animation-element">«ВКД-Сервис» входит в состав группы компаний «ВербаКапитал» и развивает
                        сданные проекты девелопера: от эксплуатации технической инфраструктуры до благоустройства
                        территории. Специалисты УК накопили компетенции в управлении жилой и коммерческой недвижимостью,
                        улучшении качества жизни на объектах с помощью квалифицированного сервиса.</p>
                </div>
            </div>
        </div>
    </div>

    {% set  _ = 'service-owners' %}
    <div class="{{ _ }} {{ _ }}-empty">
        <div class="inner-container">
            <div class="{{ _ }}__wrap animation-element">
                <div class="{{ _ }}__content">
                    <h2 class="h2">
                        Уважаемые собственники!
                    </h2>
                    <p>
                        С 2017 года наша управляющая организация ООО «ВКД-Доходная недвижимость» (далее – «УК»)
                        обслуживает
                        здание Гостиницы с медицинским центром и подземной автостоянкой, находящееся по адресу г.
                        Новосибирск,
                        ул. Сакко и Ванцетти, 77 (далее - «Здание»).</p>
                    <p>
                        Все это время мы обеспечиваем комфортное и безопасное пребывание собственников, арендаторов и 
                        гостей, 
                        гарантируем  высокий  уровень  оказания  услуг  по  эксплуатации  Здания,  что позволило ему
                        стать
                        востребованным, ликвидным, удобным для жильцов апартаментов и клиентов офисов, медицинского
                        центра,
                        подземной парковки. Успешное отстаивание юристами УК интересов собственников в суде позволило
                        значительно снизить налоговую нагрузку по налогу на ваше имущество.
                    </p>
                    <br>
                    <br>
                    <h4 class="h4">
                        Мы благодарны вам за оказанное доверие по созданию благоприятных условий для вашего бизнеса и
                        проживания!
                    </h4>
                    <p>
                        За 7 лет нашей с вами совместной работы, несмотря на рост цен, инфляцию (за период октябрь 2017-
                        по сентябрь 2024 год составила 56,68%), существенный рост стоимости услуг, оказываемых
                        подрядными организациями, мы ни разу не пересматривали размер тарифа на содержание общего
                        имущества (далее – Тариф). В таких условиях сохранить должный уровень обслуживания было возможно
                        благодаря усилиям сотрудников УК по экономии средств, добросовестному отношению застройщика к
                        своим гарантийным обязательствам, его материальной помощи в т.ч., для поддержания статуса и
                        ликвидности Здания, но сейчас этот резерв исчерпан, а гарантийный срок от застройщика
                        закончился.
                    </p>
                </div>

                <div class="{{ _ }}__plate">
                    <div class="{{ _ }}__plate-text">
                        <h4 class="h4">
                            Если у Вас есть вопросы, Вы можете оставить обращение Управляющей компании
                        </h4>
                    </div>
                    <a href="#popup-1" class="btn" data-fancybox>
                        Оставить обращение
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% set  _ = 'service-objects' %}
    <div class="{{ _ }}">
        <div class="inner-container">
            <div class="{{ _ }}__wrap">
                <h2 class="h2 animation-element">
                    УПРАВЛЯЕМ ОБЪЕКТАМИ
                </h2>


                {% set  list = [
                    {
                        title: 'Инские холмы',
                        subtitle_a: '8 (383) 209-24-74',
                        subtitle_b: 'ул. Большевистская, 35',
                        subtitle_c: 'ул. Большевистская, 37'
                    },  {
                        title: 'Чикаго',
                        subtitle_a: ' 8 (383) 209-20-43',
                        subtitle_b: 'ул. Московская, 77',
                        subtitle_c: 'info@domchicago.ru'
                    },
                    {
                        title: 'Парк Резиденс',
                        subtitle_a: '8 (383) 209-03-73',
                        subtitle_b: 'ул. Сакко и Ванцетти, 77',
                        subtitle_c: 'info@vc-d.ru'
                    },
                    {
                        title: 'MedPark',
                        subtitle_a: '8 (383) 209-03-73',
                        subtitle_b: 'ул. Сакко и Ванцетти, 77',
                        subtitle_c: 'info@vc-d.ru'
                    }

                ] %}

                <div class="{{ _ }}__list-wrap">
                    <div class="{{ _ }}__list">
                        {% for item in list %}
                            <div class="{{ _ }}__item animation-element"
                                 style="animation-delay: {{ loop.index * 0.3 }}s">
                                <div class="{{ _ }}__logo">
                                    <img src="images/{{ _ }}/{{ loop.index }}.svg" alt=""/>
                                </div>
                                <h3 class="h3">
                                    {{ item.title }}
                                </h3>
                                <span>{{ item.subtitle_a }}</span>
                                <span>{{ item.subtitle_b }}</span>
                                <span>{{ item.subtitle_c }}</span>
                                {% if loop.index == 1 %}
                                    <span>admin@inskie.ru</span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

    </div>





    {% set  _ = 'service-popup' %}
    <div id="popup-1" class="{{_}}">
        <h3 class="{{ _ }}__title h3">
            оставьте обращение Управляющей компании
        </h3>
        <div class="{{_}}__form">
            {% set  list = [
                'ФИО',
                'Телефон',
                'Email']
            %}



            {% for item in list %}
                <input type="text" class="input {% if loop.index == 2 %} js--tel {% endif %}" placeholder="{{ item }}">
            {% endfor %}
            <textarea class="textarea" placeholder="Обращение"></textarea>
            <button href="#" class="btn">Оставить обращение</button>
        </div>

    </div>


    <a href="#popup-2" class="btn" data-fancybox>Спасбо! Попап</a>
    <div id="popup-2" class="{{_}}">
        <h3 class="{{ _ }}__title h3" style="margin: 30px 0">
            Спасибо! Ваше обращение успешно отправлено
        </h3>
    </div>
{% endblock content %}