{% set  _ = 'footer' %}

<div class="{{ _ }}">
    <div class="inner-container">
        <div class="{{ _ }}__wrap">
            <div class="{{ _ }}__description">
                <h3 class="{{ _ }}__title h3">
                    ПОДПИСЫВАЙТЕСЬ НА TELEGRAM КАНАЛ
                </h3>
                <div class="{{ _ }}__button">
                    <a href="#" class="btn">
                        Наши новости
                    </a>
                </div>


            </div>
            <div class="{{ _ }}__main">
                <div class="{{ _ }}__social">
                    <a href="#" class="{{ _ }}__social-item">
                        <svg width="23" height="21" viewBox="0 0 23 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M11.884 12.4574H3.63353V9.09422H11.884C12.3672 9.09422 12.7016 9.18066 12.8689 9.33194C13.0361 9.48321 13.1423 9.76415 13.1423 10.1721V11.3796C13.1423 11.8118 13.0388 12.09 12.8689 12.2413C12.7016 12.3926 12.3645 12.4574 11.884 12.4574ZM12.4495 5.92285H0.134766V20.3075H3.63353V15.6288H10.0816L13.1397 20.3075H17.0578L13.6838 15.6071C14.9262 15.418 15.4863 15.0237 15.9456 14.378C16.4048 13.7324 16.6358 12.6951 16.6358 11.3147V10.2369C16.6358 9.41838 16.5508 8.77006 16.4048 8.27572C16.2588 7.77867 16.0066 7.34916 15.6509 6.96016C15.274 6.59278 14.8545 6.33616 14.3528 6.16057C13.8484 6.00929 13.2219 5.92285 12.4468 5.92285H12.4495Z"
                                  fill="#D4D4D4"/>
                            <path d="M19.5961 5.07692C20.998 5.07692 22.1345 3.94041 22.1345 2.53846C22.1345 1.13651 20.998 0 19.5961 0C18.1941 0 17.0576 1.13651 17.0576 2.53846C17.0576 3.94041 18.1941 5.07692 19.5961 5.07692Z"
                                  fill="#D4D4D4"/>
                        </svg>
                    </a>
                    <a href="#" class="{{ _ }}__social-item">
                        <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.3748 11.5337L8.02742 16.4197C8.52442 16.4197 8.73967 16.2062 8.9978 15.9499L11.3279 13.723L16.1562 17.2589C17.0417 17.7524 17.6655 17.4925 17.9044 16.4442L21.0737 1.59373L21.0745 1.59285C21.3554 0.283855 20.6012 -0.22802 19.7384 0.0931048L1.10967 7.22523C-0.161704 7.71873 -0.142454 8.42748 0.893546 8.74861L5.65617 10.23L16.7188 3.30786C17.2394 2.96311 17.7128 3.15386 17.3234 3.49861L8.3748 11.5337Z"
                                  fill="#D4D4D4"/>
                        </svg>
                    </a>
                </div>

                {% set  list = [
                    'главная',
                    'ТЕНДЕРЫ',
                    'о нас',
                    'Сервис',
                    'проекты',
                    'контакты',
                    'новости'
                ] %}


                <div class="{{ _ }}__menu">
                    <div class="{{ _ }}__menu-list">
                        {% for item in list %}
                            <a href="#" class="{{ _ }}__menu-item">
                                {{ item }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="{{ _ }}__contacts">
                    <div class="{{ _ }}__contacts-list">

                        <div class="{{ _ }}__contacts-item">
                            <h4 class="{{ _ }}__contacts-title h4">
                                Отдел продаж
                            </h4>
                            <div>
                                <span>+7 383 209-90-09 </span>
                                <span>ул. Московская, 77, 1 этаж</span>
                            </div>

                        </div>

                        <div class="{{ _ }}__contacts-item">
                            <div class="{{ _ }}__contacts-title h4">
                                Офис
                            </div>
                            <div>
                                <span>Новосибирск, Россия</span>
                                <span>630099, ул. Депутатская, 46,
                                    офис 1113</span>
                            </div>

                        </div>

                    </div>
                    <div class="{{ _ }}__copyright">
                        <span>© 2015–2024 ГК ВербаКапитал </span>
                        <span>Политика конфиденциальности. Файлы куки.</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>







{% set  _ = 'up-btn' %}
<a href="#" class="{{_}}">

</a>